@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:ital,wght@0,100;0,400;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #04202e;
}

.like{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.lien{
    margin: 20px;
    width: fit-content;
    position: relative;
    text-decoration: 0;
    background-color: #37a6ff;
    color: #fff;
    padding: 10px 25px;
    border-radius: 6px;
    font-size: 14px;
}

.like img{
     width: 40px;
     padding: 8px 0;
}

.like section{
    width: 70%;
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
}

table{
    border-collapse: collapse;
    width: 100%;
    letter-spacing: 1px;
    font-size: 13px;
}

th{
    padding: 10px 0;
    font-weight: 400;
}

td{
    border-top: 0.5px solid #999;
    text-align: center;
    color: #37a6ff;
}

tr{
    border-bottom: 0.5px solid #999;
}

span{
    position: absolute;
    top: -9px;
    right: -9px;
    background-color: red;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 12px;
    color-scheme: #fff;
}